$black001: #21242C;
$black002: #2B2E36;
$black003: #373B44;
$black004: #414550;
$black005: #595B61;
$white001: #FCFCFD;
$white002: #F8F8F9;
$gray001: #EEF0F2;
$gray002: #DDDEE3;
$gray003: #BBBCC2;
$gray004: #9497A0;
$gray005: #70737C;
$green: #6FED9B;
$greenblue: #18DAD2;
$skyblue: #77C8EC;
$yellow: #FFCE51;
$purple: #9E5FFD;
$pink: #ED4AB8;
